body {
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.navbar a {
    display: block;
    text-decoration: none;
}

.navbar a:hover {
    color: #fff;
}

#hero {
    width: 100%;
    height: 92vh;
    background: #000;
}

#hero img {
    width: 100%;
    height: 92vh;
    background-size: cover;
    position: absolute;
    opacity: 0.3;
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero h3 {
    margin: 0 0 10px 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 25px;
    color: #ffffff;
    letter-spacing: 1px;
}

#hero p {
    font-weight: 800;
    margin-bottom: 50px;
    font-size: 26px;
    color: #ff3c00;
}

#hero p span {
    color: #ffffff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #ff3c00;
    font-weight: 600;
}